<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data...</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError">Temperture in {{city}} is {{(weatherData$ | async).temperature | number :'1.0-0'}}°</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf = "!hasError"><img [src]="image">{{description}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{country}}
        <br>
        longitude: {{lon}}°
        <br>
        latitude: {{lat}}°
      </p>
      <a routerLink="/city" routerLinkActive="active">Select city</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>